{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "plugins": [],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
